grant { 
  permission java.security.SecurityPermission "getProperty.org.bouncycastle.rsa.max_size";
  permission java.security.SecurityPermission "getProperty.org.bouncycastle.rsa.max_mr_tests";
 };